<div class="col-sm-4">
    <div class="card employee-card shadow-sm mt-2 mb-2">
        <div class="card-header bg-info text-light">
            <h2 class="card-title">{{ name }}</h2>
            <h3 class="card-title"><i class="fas fa-user-graduate mr-2"></i>{{ role }}</h3>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">ID # {{ id }}</li>
                <li class="list-group-item">Email: <a href="mailto:{{ email }}"
                        style="color: #212529; font-weight: 500; text-decoration: none"
                        onmouseover="this.style.color='#e40066'" onmouseout="this.style.color='#212529'">{{ email }}</a>
                </li>
                <li class="list-group-item">School: {{ school }}</li>
            </ul>
        </div>
    </div>
</div>